<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>416112800787-1igmaqt1bkfjcv6bh3qqo5dh9iogrfkf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.416112800787-1igmaqt1bkfjcv6bh3qqo5dh9iogrfkf</string>
	<key>API_KEY</key>
	<string>AIzaSyCJ8NSv_qa9VyDrJVXA1jkU0_Xo26_M20Q</string>
	<key>GCM_SENDER_ID</key>
	<string>416112800787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookShop.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>book-shop-2c994</string>
	<key>STORAGE_BUCKET</key>
	<string>book-shop-2c994.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416112800787:ios:e7ecb885c146063516fbe6</string>
</dict>
</plist>